body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}


.header {
    background-color: #333;
    padding: 24px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
}

::-webkit-scrollbar {
    width: 0;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 80px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #597696;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


h1,
h2,
h3 {
    text-align: center;
    color: #333333;
}

.item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

.item:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.item-name {
    font-size: 24px;
    color: #333333;
}

.item-description {
    color: #666666;
}

.item-price {
    font-weight: bold;
    color: #cc0000;
}

.slogan {
    width: 100%;
}

.img-ch,
.img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.location,
.how-to-order {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

address,
.how-to-order p {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

a {
    text-decoration: none;
    color: #3088e6;
}

a:hover {
    color: #0056b3;
}
.fa-map-marker-alt{
    color: #FF5733; 
}

.fa-whatsapp {
    color: #25D366;
}


.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.footer h4 {
    margin: 0;
    font-size: 14px;
}

.footer a {
    color: #fff;
    text-decoration: underline;
}

.footer a:hover {
    color: #bbb;
}

.arrow {
    margin: 0 5px;
}